
[submodule "foundry-project/lib/openzeppelin-contracts"]
	path = foundry-project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-project/lib/forge-std"]
	path = foundry-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
